{
  "ignore": "node_modules",
  "presets": [
    "stage-0",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 8"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [["transform-runtime", { "polyfill": true, "regenerator": true }]]
}
