header {
  .masthead {
    @include clearfix;
  }

  .title,
  .avatar__wrap {
    font-family: $font-family-headings;
    display: block;
    width: 100%;
  }

  .title {
    font-size: typeScale(10);

    a,
    a:hover {
      color: getColor(text, heading);
    }
  }

  .avatar__wrap {
    text-align: center;
  }

  hr {
    margin: 0;
  }

  @media (--medium) {
    .masthead {
      width: 34rem;
    }

    .title,
    .avatar__wrap {
      display: inline-block;
      width: auto;
      float: left;
    }

    .avatar {
      margin: 1.8rem 1rem;
    }
  }
}
