header {
  text-align: center;

  .masthead {
    @include clearfix;

    margin: 0 auto;
  }

  .title,
  .avatar__wrap {
    display: block;
    width: 100%;
  }

  .title {
    font-size: $type-10-primary;

    a,
    a:hover {
      color: getColor(text, heading);
    }
  }

  hr {
    margin: 0;
  }

  @media (--medium) {
    .masthead {
      width: 34rem;
    }

    .title,
    .avatar__wrap {
      display: inline-block;
      width: auto;
      float: left;
    }

    .avatar {
      margin: 1.8rem 1rem;
    }
  }
}
