header {
  h1 {
    display: inline-block;
    float: left;

    a,
    a:hover {
      color: getColor(text, heading);
    }
  }

  .avatar {
    display: inline-block;
    margin: $spacing-m;
  }
}
