//
// Globals
// =============================================================================

// Sizing
$container-width: 960px;

// Font families
$font-family-headings: "Source Sans Pro", monospace;
$font-family: "Source Code Pro", monospace;
$font-family-mono: "Source Code Pro", monospace;
$font-family-print: "Source Code Pro", monospace;
