---
layout: default
---

<article row class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header grid class="post-header">
    <div column>
      <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date }}
        </time>
      </p>
    </div>
    {% if page.image %}
    <figure column class="post-image">
      <img src="{{ page.image }}"/>
    </figure>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
